body{
    background-image: url('Imgs/clockGif.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}

@font-face {
    font-family: roboto-mono;
    src: url(Fonts/RobotoMono-VariableFont_wght.ttf);
    font-weight: bold;
}

@font-face {
    font-family: fire-sans;
    src: url(Fonts/FiraSans-Medium.ttf);
    font-weight: bold;
}

@font-face {
    font-family: oxygen;
    src: url(Fonts/Oxygen-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: quicksand;
    src: url(Fonts/Quicksand-VariableFont_wght.ttf);
    font-weight: bold;
}

button {
    padding: 0;
}








